
/* font di Google */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* h1, h2, h3, h4, h5 */
h2 {
    font-family: "Times New Roman", Times, serif; 
    font-size: 40px; 
    text-shadow: 1px 1px 1px #ababab; 
    text-align: center; 
    margin-top: 10px; 
    text-decoration: overline;
}

h3 {
    font-family: "Times New Roman", Times, serif; 
    font-size: 30px; 
    text-shadow: 1px 1px 1px #ababab; 
    padding-bottom: 10px;
}

h4 {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px;
    text-shadow: 1px 1px 1px #ababab;}

h5 {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px;
}

h6 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

/* backgrounds */
.background-disegno {
    background-attachment: fixed; 
    background-image: url("../immagini/img-index/sfondo-index.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.background-senape {
    background-color: #E5DCC3;
}

.background-strumenti {
    background-color: #C7BEA2;
}

/* breadcrumb */
.breadcrumb {background-color: #ffffff;
}

/* buttons */
.btn-outline-light-navbar {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px; 
    text-shadow: 0.5px 0.5px 0.5px #ababab;
}

.btn-outline-light-navbar:hover {
    font-family: "Times New Roman", Times, serif;
    background-color:  #ffffff; 
    text-shadow: 0.5px 0.5px 0.5px #ababab;
}

.btn-outline-light {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px; border: 1px solid #C7BEA2; 
    border-radius: 10px; background-color: #ffffff; 
    color: #000000;
}

.btn-outline-light:hover {
    font-family: "Times New Roman", Times, serif;
    background-color: #E5DCC3; 
    border: 1px solid #E5DCC3;
}

.btn-outline-light-card {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px; text-shadow: 0.5px 0.5px 0.5px #ababab; 
    padding-top: 15px;
}

.btn-outline-light-card:hover {
    text-decoration: underline; 
    color: #678983; 
    text-shadow: 0.5px 0.5px 0.5px #ababab;
}

.btn-light {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px;
}

.btn-secondary {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px;
}

/* cards */
.card-body .form-check {
    display: inline; 
    margin-left: 10px;
}

.card-header b > a, .card-text > b > a, li > b > a {
    color: #678983;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

.card-header {
    background-color: #ffffff;
}

.card-text > span {
    display: inline-block; 
    width: 200px;
}

.card-text {
    font-size: 1.1em;
}

.card-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.card-percorso {
    background-color: #C7BEA2;
    margin-left: 10%;
    box-shadow: 10px 10px 12px #8E806A;
    border-radius: 25px;
    display: block;
}

.card-articolo {
    background-color: #C7BEA2;
    margin-left: 70%;
    box-shadow: 10px 10px 12px #8E806A;
    border-radius: 25px;
    display: block;
}


/* cards tool */
.card-tool {
    height: 350px;
    background-color: #E5DCC3;
}

.card-tool > .card-body > .card-text {
    height: 215px;
}

.card-tool > .card-body > .btn {
    display: block; 
    margin: 0 auto;
}

.card-tool > .card-body > h3 {
    font-size: 1.5em;
}

/* cards lista */
.card-item .btn {
    width: 100%;
}

.card-item > .card-body > .card-metadata {
    height: 250px;
}

.card-metadata > h4 {
    font-size: 1.2em;
}

.card-item img {
    height: 400px;
}

aside .card:hover, .card-tool:hover, .card-item:hover, .card-related-item:hover, .card-percorso:hover, .card-articolo:hover {box-shadow: 0px 5px 40px -10px rgba(122, 144, 173, .9); -webkit-box-shadow: 0px 5px 40px -10px rgba(38, 44, 52, .9); -moz-box-shadow: 0px 5px 40px -10px rgba(38, 44, 52, .9);}


/* carousel */
.carousel-inner > .item {
    position: relative; 
    display: none; -webkit-transition: 0.3s ease-in-out left; 
    -moz-transition: 0.3s ease-in-out left; 
    -o-transition: 0.3s ease-in-out left; transition: 0.3s ease-in-out left;
}

.carousel-item {
    height: 700px; 
    position: center;
}

.carousel-persona img { 
    width: 450px;
}


/* checkbox */
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgrey;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

input[type="checkbox"]:checked {
  background: #678983;
}

input[type="checkbox"]:hover {
  filter: brightness(90%);
}

input[type="checkbox"]:disabled {
  background: #9A9483;
  opacity: 0.6;
  pointer-events: none;
}

input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

input[type="checkbox"]:disabled:after {
  border-color: #9A9483;
}

/* linea del tempo */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.75;
}

#timeline {
  display: flex;
  background-color: #E5DCC3;
}

#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #E5DCC3;
  overflow: hidden;
  transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: #8E806A;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
  width: 30% !important;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.728rem;
  line-height: 0;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}


/* link */
.arrow {
    background-color: #E5DCC3;
    margin-bottom: 0;
    
}

.link {
    color: #000000; 
    text-decoration: none;
}

.link:hover {
    color: #E5DCC3; 
    text-decoration: underline;
}

.link-strumenti {
    color: #000000;
    text-decoration: none;
}
.link-strumenti:hover {
    color:  #C7BEA2;
    text-decoration: underline; 
}

.link-footer {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px; color: #000000;
}

.link-footer:hover {
    color: #9A9483;
}

.link-footer:visited {
    color: #000000; 
    text-decoration: none;
}

.bi {
    color: #000000; 
    text-decoration: none;
}

.bi:hover {
    color: #9A9483;
}

.bi:visited {
    color: #000000; 
    text-decoration: none;
}


/* modal */
.modal-title {
    font-family: "Times New Roman", Times, serif;
}

.modal-body {
    white-space: none;
    font-family: "Times New Roman", Times, serif;
}

/* nav-bar */
.navbar {
    background-color: #E5DCC3 !important;
}

.dropdown-item:hover {
    font-family: "Times New Roman", Times, serif;
    background-color: #E5DCC3; 
    background-attachment: local; 
    font-size: 20px;
}

.navbar-nav {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px; 
    text-shadow: 0.5px 0.5px 0.5px #ababab;
}

.nav-link {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px; 
    text-shadow: 0.5px 0.5px 0.5px #ababab; color: #000000;
}

.nav-link:hover {
    color: #8c8073;
}

/* pagination */
.pagination {
    padding-bottom: 15px;
}

.page-link {
    font-family: "Times New Roman", Times, serif; 
    color: #000000;
}

.page-link:hover {
    color: #678983;
}


/* texts */
.text-justify {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px;
}

.text-dark {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px;
}

.text-line {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px;
}

.text-footer {
    font-family: "Times New Roman", Times, serif; 
    font-size: 15px;
}

.text-aside {
    font-family: "Times New Roman", Times, serif; 
    font-size: 18px;
}

.citazione {
    font-family: "Times New Roman", Times, serif; 
    font-size: 20px; 
    text-shadow: 0.4px 0.4px 0.4px #ababab;
}

.nota {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    text-shadow: 0.4px 0.4px 0.4px #ababab;
}









